<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/add_game}"
                  th:object="${game}" method="post" class="form-horizontal"
                  role="form">
                <h2 th:text="#{admin.newgame.title}">New Game</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('gameName')}" th:errors="*{gameName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{gameName}" th:placeholder="#{admin.newgame.name}"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('gameDescription')}" th:errors="*{gameDescription}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{gameDescription}"
                               th:placeholder="#{admin.newgame.description}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{price}"
                               th:placeholder="#{admin.newgame.price}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block" th:text="#{admin.newgame.submit}">Create Game</button>
                    </div>
                </div>

                <h2><span class="text-success" th:text="${successMessage} ? #{admin.newgame.success} : ''"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>