<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Home</title>
        <meta charset="UTF-8">
    </head>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<br><br><br>
<h1 th:text="#{admin.home.title}">Hello!</h1>
<p th:text="#{admin.home.info}">Az Admin felületen létrehozhatsz játékokat</p>
<p><a th:href="@{/admin/add_game}" th:text="#{admin.home.link}">Létrehozás</a></p>

</body>
</html>