<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Games</title>
        <meta charset="UTF-8">
    </head>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html" th:href="@{/home}">B7FOJG</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="../home" th:href="@{/home}" th:text="#{menu.home}">Home</a>
                </li>
                <li th:classappend="${module == 'games' ? 'active' : ''}">
                    <a href="../games" th:href="@{/games}" th:text="#{menu.games}">Games</a>
                </li>
                <li th:classappend="${module == 'mygames' ? 'active' : ''}">
                    <a href="../mygames" th:href="@{/mygames}" th:text="#{menu.myGames}">My Games</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" th:text="#{menu.logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>