<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Games</title>
    <meta charset="UTF-8">
</head>
<body>
        <div th:replace="fragments/header :: header">
        </div>
    <h2>List of Games</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" th:text="#{mygames.name}">Name</th>
                <th scope="col" th:text="#{mygames.description}">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="game : ${games}">
                <td th:text="${game.gameName}"></td>
                <td th:text="${game.gameDescription}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>